.jumbotron {
	background-color: green;
	color: white;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	color: black;
	margin-top: 10px;
	margin-bottom: 0px;	
}

.card-product {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-product {
	width: 100%;
	border-radius: 0px;
}

.card-img-top {
	max-width: 100%;
	flex-shrink: 0;
}

.thead-alimentacion, .thead-juguetes, .thead-higiene {
	color: #fff;
  	background-color: #007bff;
}

